    /* Global 
 ================================================================ */

    html {
        height: 100%;
    }

    body {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #333;
        &.splash {
            background: url(../../assets/images/alexandre-st-louis-447911.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            color: #fff;
            background-color: #222222;
        }
    }

    a {
        text-decoration: none;
    }

    html,
    body,
    div,
    img,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    form {
        padding: 0;
        margin: 0;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        display: block;
        &--wide {
            width: 100%;
        }
        &--short {
            width: 80%;
        }
        @mixin mediaLarge {
            &--short {
                width: 1170px;
            }
        }
        @mixin mediaMedium {
            &--short {
                width: 990px;
            }
        }
        @mixin mediaSmall {
            &--short {
                width: 765px;
            }
        }
    }

    .panel {
        border-color: #ddd;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        &__body {
            padding: 15px;
        }
    }

    .thumbnail {
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: border .2s ease-in-out;
    }

    .img--bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @mixin clearBlock;
        &--gutters {
            margin-right: -65px;
        }
        &--gutters>div {
            padding-right: 10px;
            box-sizing: border-box;
        }
    }

    .col--1 {
        width: 8.33%;
    }

    .col--2 {
        width: 16.66%;
    }

    .col--3 {
        width: 25%;
    }

    .col--4 {
        width: 33.33%;
        &--md {
            @mixin mediaMediumMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    .col--5 {
        width: 41.66%;
        &--md {
            @mixin mediaMediumMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
        &--sm {
            @mixin mediaSmallMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    .col--6 {
        width: 50%;
        &--sm {
            @mixin mediaSmallMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    .col--7 {
        width: 58.33%;
        &--md {
            @mixin mediaMediumMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
        &--sm {
            @mixin mediaSmallMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    .col--8 {
        width: 66.66%;
        &--md {
            @mixin mediaMediumMax {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    .col--9 {
        width: 75%;
    }

    .col--10 {
        width: 83.33%;
    }

    .col--11 {
        width: 91.66%;
    }

    .col--12 {
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    [class*="col--"] {
        padding: 3px;
        float: left;
    }
    /* Containers + Rows + Columns 
 ================================================================ 
    center div horizontally & vertically

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
 ================================================================ */