$mainBlue: #468284;
$mainLightBlue: #509a9c;
$mainDarkBlue: #386769;
$mainOrange: #fcb000;
$mainDarkOrange: #e88902;
$mainPink: #e3415c;
$mainGrey: #7c7c7c;
$mainYellow: #FFFC00;
$navLinks: #9d9d9d;
$bgColorLight: #f7f7f7;
$bgColorDark: #1F2024;
$bgColorDarker: #16151a;