/* Buttons
 ================================================================ */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1rem;
    &--orange {
        background-color: $mainOrange;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        &:hover {
            background-color: $mainDarkOrange;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        }
    }
    &--blue {
        background-color: $mainBlue;
        color: #fff;
        &:hover {
            background-color: $mainDarkBlue;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        }
    }
    &--lg {
        font-size: 1.1rem;
        padding: 8px 45px
    }
}