/* Header 
 ================================================================ */

.header {
    &--panel {
        height: 85px;
        background: url(../../assets/images/benjamin-hung-340384.jpg);
        background-size: cover;
        margin-right: 4px;
    }
}