        /* Navigation 
 ================================================================ */

        .nav {
            background-color: $bgColorDark;
            min-height: 50px;
            margin-bottom: 30px;
            padding-right: 5px;
            margin-right: 8px;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 99.5%;
            &__logo {
                float: left;
                height: 50px;
                padding: 15px 15px;
                font-size: 18px;
                line-height: 20px;
            }
            &__logo>img {
                display: block;
                padding-top: 2px;
            }
            &__logo--img {
                height: 25px;
            }
            &__links--left {
                float: left;
                width: 60%;
            }
            &__links--right {
                float: right;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @mixin clearTable;
            }
            li {
                float: left;
            }
            a {
                color: $navLinks;
                font-weight: 300;
                text-decoration: none;
                position: relative;
                display: block;
                padding: 10px 15px;
                line-height: 27px;
                font-size: 0.95rem;
            }
            a:hover {
                color: #fff;
            }
            li &--active {
                background-color: #000;
                color: #fff;
            }
            li &--special {
                color: $mainBlue;
            }
            &__menu-icon {
                width: 25px;
                height: 25px;
                position: relative;
                float: right;
                padding: 3px 5px;
                margin-top: 12px;
                margin-right: 15px;
                margin-bottom: 8px;
                border: 1px solid #444;
                border-radius: 4px;
                display: none;
                visibility: hidden;
                cursor: pointer;
            }
            &__menu-icon i.fa {
                color: #fff;
            }
            &--splash {
                padding-right: 0;
            }
            @mixin mediaMediumMax {
                &--navbar {
                    position: relative;
                    display: table;
                    left: calc(-50vw + 50%);
                    width: 100vw;
                }
                &__logo>img {
                    padding-left: 10px
                }
                &__menu-content {
                    display: none;
                }
                &__menu-icon {
                    display: block;
                    visibility: visible;
                }
                li &--active {
                    background-color: transparent;
                }
                &__menu-content--visible {
                    display: block;
                    div.nav__links--left,
                    div.nav__links--right {
                        width: 100%;
                    }
                    ul {
                        list-style: none;
                    }
                    li {
                        display: block;
                        padding: 0 20px;
                        line-height: 2em;
                        height: 3em;
                        width: 100%;
                        border-top: 1px solid #333;
                    }
                    li:hover {
                        background-color: $bgColorDarker;
                    }
                    div.nav__links--left li:first-child {
                        background-color: $bgColorDarker;
                    }
                    div.nav__links--right li {
                        color: #fff;
                        background-color: $mainBlue;
                    }
                    div.nav__links--right li:hover {
                        background-color: $mainDarkBlue;
                    }
                    div.nav__links--right li a {
                        color: #fff;
                    }
                }
            }
        }